@font-face {
  font-family: "inter";
  src: url("../fonts/inter-400.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url("../fonts/inter-400.woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url("../fonts/inter-700.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url("../fonts/inter-700.woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url("../fonts/inter-900.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url("../fonts/inter-900.woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.index-body {
  background-color: #feafc3;
}

.catalog-body {
  background-color: #feafc3;
}

.blue-body {
  background-color: #69a9ff;
}

.yellow-body {
  background-color: #fcc850;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Graphic */

.right-icon {
  background-image: url("../images/icon/right.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 6px;
  margin: 0 8px;
}

.login-icon {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 16px;
  margin: auto;
}

.navigation-login:focus .login-icon {
  left: 14px;
}

.navigation-login:active .login-icon {
  left: 16px;
}

.basket-icon {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 16px;
  margin: auto;
  fill: #2d3440;
}

.popover-closed:focus .basket-icon {
  left: 14px;
}

.popover-closed:active .basket-icon {
  left: 16px;
}

.arrow-left {
  background-color: rgba(252, 252, 252, 0.3);
  padding: 9px;
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  fill: #fcfcfc;
}

.arrow-left:hover {
  background-color: #fcfcfc;
  fill: #2d3440;
}

.gallery-link:focus {
  outline: none;
}

.gallery-link:focus .arrow-left {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
  outline: none;
  fill: #2d3440;
}

.gallery-link:active .arrow-left {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgb(252, 252, 252, 0);
  fill: #2d3440;
}

.arrow-left:disabled {
  border: 2px solid rgba(252, 252, 252, 0.3);
  fill: #fcfcfc4d;
}

.arrow-right {
  background-color: rgba(252, 252, 252, 0.3);
  padding: 9px;
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  fill: #fcfcfc;
}

.arrow-right:hover {
  background-color: #fcfcfc;
  fill: #2d3440;
}

.gallery-link:focus .arrow-right {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
  fill: #2d3440;
  outline: none;
}

.gallery-link:active .arrow-right {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgb(252, 252, 252, 0);
  fill: #2d3440;
}

.arrow-right:disabled {
  border: 2px solid rgba(252, 252, 252, 0.3);
  fill: #fcfcfc4d;
}

.telegram {
  background-image: url("../images/social/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.telegram:hover {
  background-color: #2d3440;
  background-clip: padding-box;
}

.telegram:focus {
  background-color: #2d3440;
  border-color: #2d3440;
}

.telegram:active {
  background-image: url("../images/social/telegram-grey.svg");
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.vkontakte {
  display: block;
  background-image: url("../images/social/vk.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.vkontakte:hover {
  background-color: #2d3440;
  background-clip: padding-box;
  outline: none;
}

.vkontakte:focus {
  background-color: #2d3440;
  border-color: #2d3440;
}

.vkontakte:active {
  background-image: url("../images/social/vk-grey.svg");
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.youtube {
  display: block;
  background-image: url("../images/social/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.youtube:hover {
  background-color: #2d3440;
  background-clip: padding-box;
}

.youtube:focus {
  background-color: #2d3440;
  border-color: #2d3440;
}

.youtube:active {
  background-image: url("../images/social/youtube-grey.svg");
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.ice-cream-paragraph {
  display: block;
  margin: 0;
}

.ice-cream-paragraph::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../images/advantages/ice-cream.svg");
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cow-paragraph {
  display: block;
  margin: 0;
}

.cow-paragraph::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../images/advantages/cow.svg");
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leaf-paragraph {
  display: block;
  margin: 0;
}

.leaf-paragraph::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../images/advantages/leaf.svg");
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thermometer-paragraph {
  display: block;
  margin: 0;
}

.thermometer-paragraph::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../images/advantages/thermometer.svg");
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin: 0 auto 80px auto;
  padding: 24px;
  background-image: url("../images/background/about-border.jpg");
  background-size: cover;
  border-radius: 16px;
}

.about-container {
  background-color: #ffffff;
  border-radius: 16px;
  padding-top: 56px;
  padding-bottom: 56px;
}

.blog {
  background-image: url("../images/background/blog-background.jpg");
  background-repeat: no-repeat;
  width: 570px;
  border-radius: 16px;
  margin-right: 30px;
  padding-left: 32px;
  padding-top: 32px;
}

.newsletter {
  background-image: url("../images/background/newsletter-border.jpg");
  background-size: cover;
  border-radius: 16px;
  padding: 6px;
}

.newsletter-container {
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 26px;
}

.newsletter-paragraph {
  display: block;
  margin: 0;
  margin-bottom: 42px;
}

.newsletter-form-container {
  display: flex;
  flex-direction: row;
  height: 48px;
}

.additional-button {
  display: flex;
  justify-items: center;
  align-items: center;
  align-self: center;
  background-color: #ff2f64;
  color: #fcfcfc;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 26px;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
  padding: 12px 32px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border: 4px solid rgba(255, 47, 100, 0.3);
  background-clip: padding-box;
  font-family: "inter";
}

.additional-button:hover {
  background-color: #fcfcfc;
  border: 4px solid #ff2f64;
  color: #2d3440;
}

.additional-button:focus {
  background-color: #ff2f64;
  border: 2px solid #2d3440;
  padding: 14px 34px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #fcfcfc;
}

.additional-button:active {
  background-color: #feafc3;
  border: 2px solid #2d3440;
  padding: 14px 34px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #fcfcfc;
}

.additional-button:disabled {
  background-color: #b9b9b9;
  border: 4px solid rgba(185, 185, 185, 0.3);
  padding: 12px 32px;
  color: #565c66;
  font-weight: 400;
}

.delivery {
  display: flex;
  flex-direction: row;
  background-image: url("../images/background/delivery-background.jpg");
  width: 1170px;
  height: 534px;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-color: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.delivery-text {
  display: flex;
  flex-direction: column;
  margin-top: 167px;
  margin-left: 100px;
  margin-bottom: 163px;
  margin-right: 135px;
}

.delivery-paragraph {
  display: block;
  width: 371px;
}

.delivery-title {
  display: block;
  margin: 0;
  width: 356px;
}

.delivery-form-paragraph {
  display: block;
  width: 400px;
  margin: 0;
  margin-right: 80px;
  margin-bottom: 32px;
}

.delivery-form-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 8px;
  background-color: #fcfcfc;
  padding-top: 40px;
  padding-left: 40px;
  margin-top: 64px;
  margin-right: 64px;
  margin-bottom: 64px;
}

.date-phone {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.date-container {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.phone-container {
  display: flex;
  flex-direction: column;
}

.phone-input {
  margin-top: 8px;
  width: 287px;
}

.address-input {
  margin-top: 8px;
  width: 420px;
}

.address-paragraph {
  display: block;
  margin: 0;
}

.info {
  background-image: url("../images/background/info-background.jpg");
  width: 1170px;
  height: 492px;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-color: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.info-list {
  background-color: #fcfcfc;
  border-radius: 8px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 263px;
  margin: 0;
  padding: 40px;
}

.info-item {
  width: 263px;
}

.info-container {
  padding: 64px;
}

.info-item-address {
  display: block;
  margin: 0;
  margin-bottom: 12px;
}

.info-strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  display: block;
  margin-bottom: 24px;
}

.info-item-paragraph {
  display: block;
  margin: 0 0 12px 0;
}

.email-input {
  margin-right: 14px;
}

/* Header */

.navigation-link {
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  border-radius: 30px;
  padding: 8px 16px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  padding: 6px 14px;
  outline: none;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border: none;
}

.contacts-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  padding: 6px 0;
  align-self: auto;
}

.search-link {
  background-image: url("../images/icon/search.svg");
  display: block;
  width: 16px;
  height: 16px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
}

.search-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.search-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  padding: 6px;
  outline: none;
}

.search-link:active {
  background-color: #fcfcfc;
  border: none;
  padding: 8px;
}

/* Main */

.preview-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
  margin: 0;
  margin-bottom: 24px;
}

.preview-list,
.social-list {
  list-style-type: none;
}

.preview-paragraph {
  display: block;
  width: 429px;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  background-color: #fcfcfc;
  border-radius: 26px;
  padding: 12px 32px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border: 4px solid rgba(252, 252, 252, 0.4);
  background-clip: padding-box;
  font-family: "inter";
}

.main-button:hover {
  background-color: #fcfcfc80;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  border: 4px solid #fcfcfc;
}

.main-button:focus {
  background-color: #fcfcfc80;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border: 2px solid #2d3440;
  padding: 14px 34px;
  outline: none;
}

.main-button:focus-visible {
  background-color: #fcfcfc80;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border: 2px solid #2d3440;
  padding: 14px 34px;
  outline: none;
}

.main-button:active {
  background-color: #fcfcfc;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border: 2px solid #2d3440;
  padding: 14px 34px;
}

.main-button:disabled {
  background-color: #fcfcfc66;
  border: 4px solid #fcfcfc66;
}

.gift-list {
  list-style-type: none;
}

.about-container h2 {
  display: block;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.about-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 40px;
  column-gap: 32px;
}

.about-item {
  width: 442px;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 64px;
}

.blog-paragraph {
  display: block;
  margin: 0;
  line-height: 20px;
  margin-bottom: 12px;
}

.blog-link {
  text-decoration: none;
}

.blog-link h3 {
  display: block;
  margin: 0;
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.newsletter-input {
  width: 332px;
  line-height: 20px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding: 0;
  padding-left: 16px;
  font-family: "inter";
}

.newsletter-input:hover {
  border: 1px solid #2d3440;
}

.newsletter-input:focus {
  border: 2px solid #2d3440;
  width: 330px;
}

.newsletter-input:disabled {
  background-color: #e7e7e7;
}

.newsletter-input:disabled:hover {
  background-color: #e7e7e7;
  color: #2d3440;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.delivery-label-address {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  margin: 0;
}

.delivery-label-phone {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  width: 287px;
}

.delivery-label-date {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}

.delivery-input {
  display: block;
  height: 48px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  padding: 0;
  padding-left: 16px;
  margin-top: 8px;
  font-family: "inter";
}

.delivery-input:default {
  color: #2d3440;
}

.delivery-input:hover {
  border: 1px solid #2d3440;
  color: #2d3440;
}

.delivery-input:focus {
  border: 2px solid #2d3440;
  color: #2d3440;
  height: 46px;
}

.delivery-input:disabled {
  background-color: #e7e7e7;
}

.delivery-input:disabled:hover {
  background-color: #e7e7e7;
  color: #2d3440;
}

.date-input {
  width: 100px;
}

.date-input:focus {
  width: 98px;
}

.info-contacts {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  display: block;
}

.work-time {
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin: 0;
  margin-bottom: 32px;
}

.copyright-list {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  column-gap: 24px;
  row-gap: 8px;
  width: 354px;
  margin: 0 auto;
  list-style-type: none;
}

.copyright-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.heart-link::before {
  position: absolute;
  left: 0;
  bottom: 4px;
  display: inline-block;
  content: "";
  background-image: url("../images/icon/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  background-size: cover;
}

.heart-item {
  position: relative;
  padding-left: 24px;
}

.production {
  padding-left: 24px;
}

.information-list {
  list-style-type: none;
}

.information-paragraph {
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

.underline {
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

/* Сортировака */

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.breadcrumbs-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  border-bottom: 1px solid #2d3440;
}

.inner-header-title {
  display: block;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin-bottom: 8px;
  padding-left: 16px;
}

.control-option {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

/* Каталог */

.product-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2d3440;
  margin: 0;
  margin-bottom: 8px;
}

.product-card-link {
  text-decoration: none;
}

.product-card strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.product-list {
  list-style-type: none;
}

/* Сетки на флексах */

.page-header-container {
  display: flex;
  width: 1170px;
  margin: 24px auto;
}

.navigation {
  display: flex;
  width: 1033px;
  margin: 0 auto;
  padding-top: 18px;
}

.logo-link {
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 550px;
  list-style-type: none;
}

.navigation-item {
  position: relative;
  align-self: center;
  border-radius: 30px;
}

.navigation-item-phone {
  margin: auto 0;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  width: 430px;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
  padding-inline-start: 0;
}

.navigation-user-item {
  align-self: center;
  background-color: #fcfcfc80;
  border-radius: 30px;
  position: relative;
  margin-left: 16px;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.preview-main {
  display: flex;
  width: 1170px;
  height: 554px;
  position: relative;
  margin-bottom: 80px;
}

.preview-list {
  margin: 0;
  padding: 0;
}

.preview-container {
  display: flex;
  flex-direction: column;
  width: 470px;
  margin-left: 70px;
  margin-top: 136px;
}

.gallery-list {
  display: flex;
  width: 700px;
  height: 554px;
  padding: 0;
  list-style-type: none;
  margin-top: 21px;
  margin-bottom: 26px;
  margin-left: auto;
}

.gallery-item {
  margin-top: auto;
  margin-bottom: auto;
}

.creamy {
  margin-left: 37px;
  margin-right: 41px;
}

.arrow-right-icon {
  margin-left: -20px;
  z-index: 2;
}

.arrow-left-icon {
  margin-right: -20px;
  z-index: 2;
}

.social-list {
  display: flex;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* GIFT */

.gift {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.gift-header {
  display: block;
  width: 434px;
  margin: 0 auto 55px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
}

.gift-list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  padding: 0;
}

.gift-item-marshmallow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 570px;
  padding: 36px;
  background-color: #ff7799;
  border-radius: 16px;
  background-image: url("../images/gifts/marshmallow.png");
  background-size: 219px 268px;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
}

.gift-item-raspberries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 570px;
  padding: 36px;
  margin-right: 30px;
  background-color: #ff7799;
  border-radius: 16px;
  background-image: url("../images/gifts/raspberry.png");
  background-size: 219px 268px;
  background-position: bottom 0 right 0;
  background-repeat: no-repeat;
  box-sizing: content-box;
}

.gift-title {
  display: block;
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.gift-paragraph {
  display: block;
  width: 304px;
  color: #2d3440;
  margin-top: 0;
  margin-bottom: 28px;
}

/* MINI-CATALOG */

.product {
  margin: 0;
  margin-bottom: 80px;
}

.product-title {
  display: block;
  width: 527px;
  margin: 0;
  margin-bottom: 107px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0;
  padding: 0;
}

.product-card {
  width: 270px;
  border-radius: 8px;
  justify-content: center;
  background-color: #fcfcfc;
}

.product-card-image {
  display: block;
  margin: 0;
  margin-top: -50px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.product-paragraph {
  display: block;
  width: 190px;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: center;
}

.product-card-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 24px;
}

.product-card-price {
  margin: 0;
  margin-left: 40px;
}

.product-card-button {
  width: 32px;
  height: 32px;
  margin: 0;
  margin-right: 40px;
  margin-left: auto;
  background-image: url("../images/icon/basket-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff2f64;
  border-radius: 50%;
}

.product-card-button:hover {
  background-image: url("../images/icon/basket-black.svg");
  background-color: #fcfcfc;
  border: 2px solid #ff2f64;
  width: 28px;
  height: 28px;
}

.product-card-button:focus {
  background-image: url("../images/icon/basket-white.svg");
  background-color: #ff2f64;
  border: 2px solid #2d3440;
  width: 28px;
  height: 28px;
}

.product-card-button:active {
  background-image: url("../images/icon/basket-black.svg");
  background-color: #ffcbd8;
  border: 2px solid #ff2f64;
  width: 28px;
  height: 28px;
}

.product-card-button:disabled {
  background-image: url("../images/icon/basket-grey.svg");
  background-color: #b9b9b9;
}

/* BLOG & NEWS */

.blog-news {
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

/* FOOTER */

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  padding: 0;
  padding-top: 48px;
}

.social-list-footer {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  margin-left: 12px;
}

.information-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 193px;
  margin: 0;
  margin-left: auto;
}

.navigation-login {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  margin: 0;
  padding: 6px 16px 6px 38px;
  border-radius: 30px;
}

.navigation-login:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-login:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
  padding: 4px 14px 4px 36px;
  outline: none;
}

.navigation-login:active {
  background-color: #fcfcfc;
  border: none;
  padding: 6px 16px 6px 38px;
}

/* СТРАНИЦА КАТАЛОГА */

.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-inline-start: 0;
  margin-bottom: 16px;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumbs-item::after {
  content: "";
  background-image: url("../images/icon/right.svg");
  width: 7px;
  height: 6px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4px;
  margin: 0 8px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 44px;
}

.catalog-filter-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 16px;
}

.catalog-filter-button {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 44px;
  align-items: flex-end;
}

.filter-button {
  background-color: rgba(252, 252, 252, 0.3);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin-left: 16px;
  border: 2px solid #fcfcfc;
  border-radius: 20px;
  padding: 8px 52px;
  font-family: "inter";
}

.filter-button:hover {
  background-color: #fcfcfc;
  border: 2px solid #ffcbd8;
}

.filter-button:focus {
  background-color: #ffcbd8;
  border: 2px solid #2d3440;
  outline: none;
}

.filter-button:active {
  background-color: #ffcbd8;
  border: none;
}

.filter-button:disabled {
  background-color: #feafc3;
  border: 2px solid #ffcbd8;
  color: rgba(45, 52, 64, 0.5);
}

.catalog-filter-group {
  margin: 0;
  margin-right: 24px;
  padding: 0;
  border: none;
}

.product-list-catalog {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  margin: 0;
  padding: 0;
  column-gap: 30px;
  row-gap: 90px;
  margin-bottom: 16px;
  list-style-type: none;
}

.pagination-container {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 490px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.4);
}

.catalog-navigation-left {
  background-image: url("../images/icon/pagination-left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 6px;
  height: 10px;
  margin: 0;
  margin-right: 8px;
}

.catalog-navigation-right {
  background-image: url("../images/icon/pagination-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 6px;
  height: 10px;
  margin: 0;
  margin-left: 8px;
}

.pagination-list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.catalog-navigation {
  display: grid;
  grid-template-columns: 24px 24px 24px 24px 24px;
  grid-template-rows: 24px;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
}

.catalog-navigation-item {
  margin: 0;
}

.circle-pagination-number {
  background-color: #fcfcfc;
  background-clip: border-box;
  padding: 2px 7px;
  border-radius: 50%;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.circle-pagination-number:focus {
  outline: none;
}

.header-link::after {
  content: "";
  background-image: url("../images/icon/arrow-down.svg");
  padding: 6px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 6px;
}

.pagination-number {
  border-radius: 50%;
  padding: 2px 7px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.pagination-number:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-number:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #2d3440;
  padding: 1px 6px;
  outline: none;
}

.pagination-number:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #fcfcfc;
  padding: 1px 6px;
}

.page-list {
  display: flex;
  position: absolute;
  list-style-type: none;
  left: 0;
  bottom: 0;
}

.page-item {
  display: block;
  padding: 6px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  margin-right: 8px;
}

.page-item:hover {
  border: 1px solid #fcfcfc;
  padding: 5px;
}

.page-item:focus {
  border: 1px solid #2d3440;
  padding: 5px;
  outline: none;
}

.page-item:focus-visible {
  border: 1px solid #2d3440;
  padding: 5px;
  outline: none;
}

.page-item:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
  padding: 6px;
}

.selected:focus {
  padding: 6px;
  outline: none;
  background-color: #fcfcfc;
  border: none;
}

.selected:focus-visible {
  padding: 6px;
  outline: none;
  background-color: #fcfcfc;
  border: none;
}

.selected {
  display: block;
  padding: 6px;
  background-color: #fcfcfc;
  border-radius: 50%;
  margin-right: 8px;
}

/* Формы */

.select-control {
  background-color: rgba(252, 252, 252, 0.3);
  height: 36px;
  border-radius: 20px;
  padding: 8px 63px 8px 16px;
  border: none;
  appearance: none;
  background-image: url("../images/icon/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  font-family: "inter";
}

.select-control:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.select-control:focus {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid #fcfcfc;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  margin: 0;
}

.range-background {
  width: 164px;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 17px 16px 17px 16px;
  border-radius: 20px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  padding: 2px;
  background-color: #fcfcfc;
  border: 6px solid #2d3440;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
}

.range-toggle:focus {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
  outline: 2px solid #2d3440;
}

.range-toggle:active {
  background-color: #2d3440;
  border: 6px solid #2d3440;
  outline: nones;
}

.toggle-min {
  top: -7px;
  left: -15px;
}

.toggle-max {
  top: -7px;
  right: -15px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-label {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  padding: 0;
}

.range-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: 0;
}

.range-input-min {
  width: 24px;
}

.range-input-max {
  max-width: 33px;
}

.range-wrapper-inputs {
  display: flex;
  padding: 0 0 0 16px;
  margin-bottom: 6px;
}

.range-input {
  background-color: transparent;
  border: none;
}

.catalog-filter-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-inline-start: 0;
  list-style-type: none;
  padding: 8px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.catalog-filter-list.filter-fillers {
  padding: 10px 24px;
}

.fillers {
  margin: 0;
  border: none;
  padding: 0;
}

.control {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  position: relative;
  padding-left: 24px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/checkbox.svg");
  background-repeat: no-repeat;
}

.catalog-filter-item:not(:last-child) {
  margin-right: 16px;
}

.control-label {
  display: flex;
  align-items: center;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/icon/checkbox-active.svg");
}

.control:hover .control-mark {
  background-image: url("../images/icon/checkbox-white.svg");
}

.control:hover .control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/icon/checkbox-white-active.svg");
}

.control-input[type="checkbox"]:disabled + .control-mark {
  background-image: url("../images/icon/checkbox-grey.svg");
}

.control-input[type="checkbox"]:disabled:checked + .control-mark {
  background-image: url("../images/icon/checkbox-grey-active.svg");
}

.control:hover
  .control-input[type="checkbox"]:disabled:checked
  + .control-mark {
  background-image: url("../images/icon/checkbox-grey-active.svg");
}

.control-input[type="radio"] + .control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/radio.svg");
  background-repeat: no-repeat;
}

.control-input[type="radio"]:checked + .control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/radio-active.svg");
  background-repeat: no-repeat;
}

.control:hover .control-input[type="radio"] + .control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/radio-white.svg");
  background-repeat: no-repeat;
}

.control:hover .control-input[type="radio"]:checked + .control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/radio-white-active.svg");
  background-repeat: no-repeat;
}

.control .control-input[type="radio"]:disabled + .control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/radio-grey.svg");
  background-repeat: no-repeat;
}

.control .control-input[type="radio"]:checked:disabled + .control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/radio-grey-active.svg");
  background-repeat: no-repeat;
}

/* Попавер */

.popover {
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 3;
}

.popover-cart {
  width: 345px;
  display: none;
  min-height: 350px;
  padding: 48px;
}

.popover-login {
  width: 324px;
  padding: 48px 48px 52px 48px;
  display: none;
  height: 350px;
}

.popover-cart-empty {
  padding: 48px 0 48px 0;
  width: 288px;
  height: 60px;
  display: none;
  min-height: 60px;
}

.popover-search {
  display: none;
  width: 324px;
  height: 48px;
  padding: 24px 16px 24px 16px;
}

.popover-catalog {
  display: none;
  width: 138px;
  min-height: 120px;
  padding: 0;
}

.login-close-button {
  position: absolute;
  top: -40px;
  right: 0;
  padding: 6px 16px 6px 38px;
  font-family: inter;
  border-radius: 30px;
  border: none;
  background-color: #ff4a78;
  color: #fcfcfc;
  background-image: url("../images/icon/login-white.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.login-close-button:hover {
  opacity: 0.6;
}

.login-close-button:focus {
  border: 2px solid #000000;
  padding: 4px 14px 4px 36px;
  background-position: left 14px center;
  outline: none;
}

.login-close-button:active {
  opacity: 0.3;
  padding: 6px 16px 6px 38px;
  border: none;
  background-position: left 16px center;
}

.popover-login-input:first-child {
  margin-bottom: 16px;
}

.popover-login-input:nth-child(2) {
  margin-bottom: 32px;
}

.popover-login-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  border-bottom: 1px solid #2d3440;
}

.popover-login-button {
  margin-right: 23px;
}

.popover-login-container {
  display: flex;
}

.popover-link-container {
  display: flex;
  flex-direction: column;
}

.popover-login-link:first-child {
  margin-bottom: 4px;
}

.popover-content-list {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popover-content-item {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}

.popover-content-item:last-child {
  margin-bottom: 32px;
}

.popover-image {
  border-radius: 50%;
  margin-right: 16px;
}

.popover-text-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 14px;
}

.popover-content-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
}

.popover-content-paragraph {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.popover-price {
  margin: 0;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
}

.popover-button {
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  margin-left: auto;
  align-self: center;
  background-image: url("../images/icon/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.popover-close-button {
  position: absolute;
  top: -40px;
  right: 0;
  border-radius: 30px;
  border: none;
  background-color: #ff4a78;
  color: #fcfcfc;
  padding: 6px 16px 6px 38px;
  background-image: url("../images/icon/basket-white.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "inter";
}

.popover-close-button:hover {
  opacity: 0.6;
}

.popover-close-button:focus {
  border: 2px solid #000000;
  box-sizing: border-box;
  padding: 4px 14px 4px 36px;
  outline: none;
  background-position: left 14px center;
}

.popover-close-button:active {
  opacity: 0.3;
}

.popover-closed {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  margin: 0;
  padding: 6px 16px 6px 38px;
  border-radius: 30px;
}

.popover-closed:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.popover-closed:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
  padding: 4px 14px 4px 36px;
  outline: none;
}

.popover-closed:active {
  background-color: #fcfcfc;
  padding: 6px 16px 6px 38px;
  border: none;
}

.popover-content {
  height: 100%;
}

.popover-title {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin-bottom: 32px;
}

.cart-input::-webkit-outer-spin-button,
.cart-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.cart-input {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
}

.popover-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  align-self: center;
  margin-left: auto;
}

.popover-form {
  display: flex;
  padding-top: 32px;
  border-top: 1px solid #e7e7e7;
}

.popover-empty-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-align: center;
}

.popover-search-input {
  height: 16px;
  width: 288px;
  padding: 14px 16px;
}

.search-close-button {
  position: absolute;
  top: -40px;
  right: 0;
  border-radius: 50%;
  border: none;
  background-color: #ff4a78;
  color: #fcfcfc;
  padding: 16px;
  background-image: url("../images/icon/search-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "inter";
}

.search-close-button:hover {
  opacity: 0.6;
}

.search-close-button:focus {
  border: 2px solid #000000;
  padding: 14px;
  opacity: 1;
  outline: none;
}

.search-close-button:active {
  opacity: 0.3;
  border: none;
  padding: 16px;
}

.popover-login-input {
  width: 290px;
}

.popover-search-input {
  height: 16px;
  width: 288px;
}

.popover-input {
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  padding: 0 16px;
  height: 48px;
}

.popover-input:hover {
  border: 1px solid #2d3440;
}

.popover-input:focus {
  border: 2px solid #2d3440;
  padding: 0 15px;
  height: 46px;
  outline: none;
}

.popover-input:disabled {
  border: 1px solid #b9b9b9;
  background-color: #e7e7e7;
  color: #2d3440;
  opacity: 0.65;
}

.popover-input:disabled:hover {
  border: 1px solid #b9b9b9;
  background-color: #e7e7e7;
  color: #2d3440;
}

.popover-catalog-link {
  font-family: inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.popover-catalog-item .strong-link {
  font-weight: 700;
}

.popover-catalog-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.popover-catalog-item {
  margin: 0;
  padding: 6px 16px;
}

.popover-catalog-item:hover {
  background-color: #ffcbd8;
}

.popover-catalog-item:active {
  background-color: #ff7799;
}

.popover-catalog-item:current {
  background-color: #ff4a78;
}

.popover-catalog-item:first-child {
  margin-bottom: 4px;
}

.catalog-line {
  display: block;
  width: 103px;
  height: 1px;
  border-bottom: 1px solid #b9b9b9;
  margin: 0 auto 4px auto;
}

.catalog-close-button {
  position: absolute;
  top: -47px;
  right: 0;
  border-radius: 30px;
  border: none;
  background-color: #ff4a78;
  color: #fcfcfc;
  padding: 8px 38px 8px 16px;
  background-image: url("../images/icon/arrow-up.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "inter";
}

.catalog-close-button:hover {
  opacity: 0.6;
}

.catalog-close-button:focus {
  border: 2px solid #000000;
  opacity: 1;
  padding: 6px 36px 6px 18px;
  background-position: right 14px center;
  outline: none;
}

.catalog-close-button:active {
  border: none;
  padding: 8px 38px 8px 20px;
  background-position: right 16px center;
  opacity: 0.3;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(45, 52, 64, 0.3);
  z-index: 4;
}

.modal-connection {
  position: relative;
  width: 442px;
  margin: auto;
  padding: 64px;
  background-color: #fcfcfc;
  z-index: 5;
  border-radius: 8px;
}

.modal-title {
  display: block;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: #fcfcfc;
  border: none;
  background-image: url("../images/icon/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.connection-textarea {
  resize: none;
  width: 410px;
  height: 120px;
  padding: 14px 16px;
  text-indent: 0;
  margin-bottom: 30px;
  color: #b9b9b9;
}

.connection-style {
  font-family: inter;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.connection-input {
  width: 410px;
  height: 48px;
  padding: 0 16px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #2d3440;
}

.connection-style::-webkit-input-placeholder {
  color: #b9b9b9;
}
.connection-style:-moz-placeholder {
  color: #b9b9b9;
}
.connection-style::-moz-placeholder {
  color: #b9b9b9;
}
.connection-style:-ms-input-placeholder {
  color: #b9b9b9;
}

.field-group {
  display: block;
  margin: 0;
}

.connection-button {
  margin-left: auto;
}

.connection-input:hover {
  border: 1px solid #2d3440;
}

.connection-input:focus {
  border: 2px solid #2d3440;
  padding: 0 15px;
  height: 46px;
}

.connection-input::grammar-error {
  border: 1px solid #ea5454;
  height: 48px;
  padding: 0 16px;
}

.connection-input::grammar-error:hover {
  border: 2px solid #ea5454;
  padding: 0 15px;
  height: 46px;
}

.connection-input:disabled {
  background-color: #e7e7e7;
  border: 1px solid #b9b9b9;
  height: 48px;
  padding: 0 16px;
  color: rgb(45, 52, 64, 0.65);
}

.connection-input:disabled:hover {
  background-color: #e7e7e7;
  border: 1px solid #b9b9b9;
  color: #2d3440;
}

/* Тултип */

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle {
  border: none;
  background-color: #fcfcfc;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  fill: #2d3440;
  z-index: 3;
}

.tooltip-toggle:hover .tooltip-icon {
  fill: #ff2f64;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  top: -12px;
  left: 25px;
  width: 162px;
  display: none;
  box-shadow: 0 2px 12px;
  padding: 10px 8px;
  background-color: #fcfcfc;
  border-radius: 1px;
  border: 1px solid #b9b9b9;
  font-size: 12px;
  line-height: 16px;
  color: #565c66;
  z-index: 2;
}

.tooltip-text::before,
.tooltip-text::after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 24px;
  border: 10px solid transparent;
  border-right: 10px solid #b9b9b9;
}

.tooltip-text::after {
  border-right: 10px solid #fcfcfc;
  bottom: 24px;
  left: -19px;
}

.tooltip-text::before {
  border-right: 10px solid #b9b9b9;
}

.delivery-form-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
